<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Cadastro de Criptomoedas</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Criptomoeda
              </th>
              <th>
                Valor Superior
              </th>
              <th>
                Valor inferior
              </th>
              <th class="text-right">
                Ações
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of [ 'test1', 'test2']; index as i;  ">
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-secondary">Apply</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>